extends Layout

block main
    .text-container
        h1 Выборы
        h4 Настольная игра
        ul
            li Возглавьте штаб своего кандидата
            li Боритесь за голоса изибирателей
            li Влияйте на явку
            li Организуйте наблюдение
            li Приближайте Прекрасную Арстоцку Будущего


block append scripts
    script(src='/public/home.bundle.js')
