extends Layout

block main
    .text-container
        h1 Home page
        h4 With content
        ul
            li some points
            li some more points

block append scripts
    script(src='/public/home.bundle.js')
